<app-header></app-header>

<!-- //se crea un array de peliculas que esten en movie services  -->
<ul class="movie-list">
  @for (movie of movieService.movies; track $index) {
  <li class="movie-item">
    <!-- agregamos la ruta a la que queremos ir de la pelicula -->
    <a class="link" [routerLink]="movie.name">
      <div class="movie-container">
        <h2>{{ $index + 1 }}</h2>
        <h2>{{ movie.name }}</h2>
        <h3>{{ movie.duration }} mins</h3>
        <h3>{{ movie.director }}</h3>
      </div>
    </a>
  </li>
  }
</ul>