<!-- <h1>Username: {{userName}}</h1>
<h1 (click)="addOne()">Number: {{number}}</h1>
<input type="text" [(ngModel)]="userName" (input)="addOne()" />
<h1>Bloque &#64;if -Renderizado dinamico</h1>
@if (condition) {
<h2>La condicion se cumple </h2>
}
@else if (condition2){
<h2>La condicion 2 se cumple </h2>
}@else{
<h2>La condiciones no se cumplen </h2>
} -->
<!-- <h1>Bloque &#64;for - Renderizado de listas</h1>
@for (movie of movies; track movie){
<p>{{$index + 1}} - {{ movie }}</p>
}

<ul>@for(animal of animals; track animal.id){
  <li>
    <h2>{{animal.name}}</h2>
    <img [src]="animal.img" />
  </li>
  }
</ul> -->
<!-- <app-header></app-header> -->
<!-- <h1>&#64;input - Comunicacion padre- hijo !</h1>

<app-child [msg]="text" [person]="person"></app-child> -->

<!-- Comunicacion del hijo al padre  -->
<!-- <h1>&#64;Output - Comunicacion hijo- padre !</h1>
<h2 style="text-align: center;"> Hola {{name}}</h2>
<app-child (login)="setName($event)"></app-child> -->

<!-- Comunicacion del hijo al padre usando signals output  -->
<!-- <h1>&#64;output API - Comunicacion hijo- padre !</h1>
<h2 style="text-align: center;"> Hola {{name}}</h2>
<app-child (login)="setName($event)"></app-child> -->

<!-- Constructor  -->

<!-- <h1 style="text-align: center;">Constructor()</h1>
<h2 style="text-align: center;"> Hola {{userName}}</h2> -->

<!-- Modelos e interfaces -->

<!-- <h1 style="text-align: center;">Modelos | interfaces</h1>
<h2 style="text-align: center;"> Hola {{userName}}</h2> -->



<!-- Directiva ngClass | Clases dinamicas -->
<h1> ngClass | Clases dinamicas </h1>

<h2 [ngClass]="{dark:isDark , big:true}"> Hola a todos!</h2>

<button (click)="toogleDark()">Toggle Dark</button>

<router-outlet />